
body
{
	margin:0px;
}

.separa
{
	height:40px;
	width:100%;
	background-color:orange;
	position:relative;
	left:0px;
	margin-top:5px;
	margin-bottom:5px;
}
.name_{width:300px;}
.w700{width:99%;border:1px solid grey;background-color:#EEEEEE;}
textarea{width:100%;height:300px;}

#head1
{
	background-color:orange;
	width:100%;
	height:40px;
}
#sitename
{
	float:left;
	font-size:35px;
	padding-left:10px;
}
#useroptions
{
	padding-top:10px;
	float:right;
	padding-right:10px;	
}
#cssmenu ul 
{
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:33px;
	font-size:.6em;
	background: orange url(../images/bg.png) repeat-x top left;
	font-family:Verdana,Helvetica,Arial,sans-serif;
	border:1px solid #000;
	margin:0;
	padding:0;
}
#cssmenu li 
{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
#cssmenu li a 
{
	float:left;
	color:#A79787;
	text-decoration:none;
	height:24px;
	padding:9px 15px 0;
	font-weight:normal;
}

#cssmenu li a:hover,.current 
{
	color:#fff;
	background:#76B3F1 url(../images/bg.png) repeat-x top left;	
	text-decoration:none;
}

#cssmenu .current a 
{
	color:#fff;
	font-weight:700;
}

#head2
{
	font-size:10px;
	border-bottom:1px solid grey;
	padding:2px;
}
#head3
{
	width:100%;
	height:70px;
	border-bottom:1px solid grey;
}
#appname
{
	float:left;
	padding-top:15px;
	padding-left:10px;
	font-size:30px;
}
#insert
{
	padding-top:23px;
	padding-right:10px;
	float:right;
}
#main
{
	padding-left:15px;
	padding-right:15px;
}
#left
{
	float:left;
}
#right
{
	float:right;
	position: absolute;
	right: 0px;
	font-size:14px;
}
#search
{
	border-bottom:1px solid grey;
	padding:2px;
	width:1100px;
}
#filtrar_titulo
{
	background-color: orange;
	font-weight:bold;
	color:white;
	width:220px;
	padding-left:10px;
}
#filtrar_body
{
	font-size:13px;
}
.titulos
{
	height:10px;
	font-size:10px;
	text-align:center;
}

.dot
{
	/*position:absolute;
	margin-left:10px;
	margin-top:5px;*/
}

.people
{
	position:relative;
	margin-top:2px;
}
.center
{
	text-align:center;
}
td{border:1px solid grey;}
table
{
	text-align:center;
	width:100%;
}

.f8{font-size:8px;}
.f9{font-size:9px;}
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.left{width:700px;}

#titulo_login
{
	font-size:30px;
	background-color:orange;
}
#login
{
	width:270px;
	border:1px solid grey;
	position:absolute;
	height:120px;
	left:50%;
	top:50%;
	margin-top:-170px;
	margin-left:-135px;
	padding-bottom:10px;
}

#ui-datepicker-div
{
	background-color:orange;
}

.imagem_galeria
{
	position:relative;
	float:left;
	padding:5px;
}

.del_imagem
{
	position:absolute;
	top:0px;
	right:0px;
}
.datas{width:10px;}
.estado{width:10px;}
